@import "../styles/global.scss";

.userForm {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: darken($track-color, 5%);
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  color: #e0e0e0;
  text-align: center;

  h2 {
    font-weight: bold;
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;

    input,
    select {
      margin: 10px 0;
      padding: 10px;
      border: 1px solid #444;
      border-radius: 4px;
      background-color: lighten($track-color, 10%);
      color: #fff;
    }

    button {
      background-color: #ff4757;
      color: #fff;
      padding: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: lighten(#ff4757, 10%);
      }
    }
  }
}
